/*  Base Styles*/

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  width: 100%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;

}

header {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 7px 0px;
  width: 100%;
  position: fixed;
	background: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,.1);
  text-align: center;
  color: #666;
  margin-bottom: 10px;
  overflow: hidden;
  padding-top: 15px;
  z-index: 7;
}


h1, h2, h3, h4 {
  font-family: "montserrat", "Arial", sans-serif;
}

h1 {
 font-size: 44px;
 font-family: "burbank";
margin-top: 0;
color: #C41A1A;
}

h2 {

}

h3 {
  font-size: 22px;

}
footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #262626;
  color: #fff;
  margin-top: -5px;
  margin-bottom: 0;
}

p {
  color: #666;
  font-size: 16px;
}

a {
  text-decoration: none;
}

li {
  color: #666;
  padding-bottom: 9px;
  padding-top: 5px;
  font-size: 1rem;
}

.blue {
  color: #4C91DA;
}

.red {
    color: #DF5141;
}

button {
  font-family: "montserrat", "Roboto", "Helvetica", "Arial", sans-serif;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 4px;
  /* border: 1px solid #FFF; */
  background-color: rgba(0, 0, 0, 0);
  color: #FFF;
  font-size: 18px;
}


ul {
  list-style-type: none;
  padding-left: 0;
}


/* Containers Main Styles */

.container {
  width: 80%;
}

.infoSegment {
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding-top: 20px;
}

.container940 {
  max-width: 1480px;
  margin: auto;
}


.infoSegment h2 {
  margin-bottom: 50px;
}
.infoSegment h3 {
  color: #C41A1A;
  margin-bottom: 0;

}

.two .col {
  width: 50%;
  float: left;
}

.three .col {
  width: 33%;
  float: left;
}

.middleImage .col {
  width: 40%;
  float: left;
}


 .four .col {
  width: 25%;
  float: left;
}


 /* Header */




























/* Main header */


.main-text .carbideButton
{
  margin-right: 20px;
}

.carbideButton, .omegaButton {
  display: inline-block;
  font-family: "montserrat", "Roboto", "Helvetica", "Arial", sans-serif;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 4px;
  /* border: 1px solid #FFF; */
  background-color: rgba(0, 0, 0, 0);
  color: #FFF;
  font-size: 18px;
  padding-top: 8px;
  font-weight: normal;
}

.omegaButton {
  background-color: #DF5141;
}
/*
button:hover {
  cursor: pointer;
  border: 1px solid #fff;
} */

.carbideButton {
    background-color: #4C91DA;
}



.carbideButton:hover {
  background-color: #3d75af;
}

.omegaButton:hover {
  background-color: #ba4134;
}

.main-pic {
  height: 700px;
  width: 100%;
  background-image: url("fortnite.jpg");
  background-position: center;
  background-size: cover;

}

.main-content {
  position: relative;
}

.main-text {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 300px;
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,.3);
}

.main-text h1 {
  color: #fff;
  font-size: 70px;
}

#mainPic {
  max-height: 500px;
  overflow: hidden;
}





.infoSection li:last-child {
  padding-bottom: 2px;
}





#aboutMe .posterImg {
  height: 640px;
}

#faqSection a, nav a {
  color: #666666;
}

#faqSection a:visited ,nav a:visited {
  color: #666666;
}

#faqSection a:hover, nav a:hover {
  color: #C41A1A;

}

#faqSection a:active, nav a:active {
  color: #666666;
}

#faqSection a, nav a{
  font-weight: bold;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.4s;
}


.contactBackground {
  height: 400px;
  width: 100%;
  background-image: url("fortniteBanner.jpg");
  background-position: center;
  background-size: cover;
  margin-top: -20px;

}


#Interested {
  position: relative;
  overflow: hidden;

}

#Interested .contactText {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  height: 400px;
  font-size: 1.6em;
  background-color: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 10px rgba(0,0,0,.3)

}

.contactText .container940 {
  padding-top: 80px;
  color: #fff;
}

.contactText .container940 p {
  color: #fff;
  font-size: 0.9em;

}

.contactText h2, .contactText h4 {
  font-family: "montserrat", "sans-serif";
  color: #fff;
}

.contactText h2 {
  font-size: 38px;
}

.contactText h4 {
  font-size: 24px;
}




.contactIcons {
  height: 70px;
  width: 100px;
}

.contactIcons:hover {
  height: 80px;
  width: 110px;
}

#Interested .discord p , #Interested .skype p{
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: top;
  padding-top: 20px;
  font-size: 1rem;
}

#Interested .container940 {
  padding-top: 50px;
}

#Interested h2 {
  font-family: "burbank";
  font-size: 2.6em;
}

#Interested h4 {
  font-family: "burbank";
  font-size: 1.4em;
}


#faqSection ul li {
  margin-bottom: 20px;
}

#services {
  background-color: rgba(255, 0, 0, 0.01);
  padding-top: 73px;
  height: 100%;

}

#services h2 {
  color: #C41A1A;
  margin-top: 50px;
}

#priceVal {
  font-weight: bold;
  color: #000;
  font-size: 1.2rem;
}

.priceContainer p {
  color: #C41A1A;
  font-size: 1.2rem;
  font-weight: 600;
}

.customCentre {
  padding-top: 12px;
}

.contactText h2 {
  margin-top: 0;
}

.timeIcon {
  height: 25px;
  width: 25px;
}


.buttomSection p::before {
  content: url("Icons/time.png");
  height: 25px;
  width: 25px;
  padding-right: 5px;
  position: relative;
  top: 4px;
}

/*  Font stuff */

@font-face {
  font-family: "bebas";
  src: url("Fonts/BEBAS___.ttf");
}

@font-face {
  font-family: "montserratBold";
  src: url("Fonts/montserrat.bold.ttf");
}

@font-face
{
  font-family: "Roboto";
  src: url("Fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "montserrat";
  src: url("Fonts/montserrat.regular.ttf");
}

@font-face {
  font-family: "burbank";
  src: url("Fonts/BurbankBigCondensed-Black.otf") format("opentype");
}


/* .backr {
  width: 100%;
} */

/*  Containers */





.icon {
  width: 60px;
  height: 60px;
}

.blurbIcon .Icon
{
  height: 35px;
  width: 35px;
}

.blurbIcon
{
  float: left;
  margin-right: 20px;
  display: inline-block;
  height: 100px;
  padding-top: 2px;

}

.blurbSec
{
  margin-bottom: 30px;
}

.blurbSec p
{
  margin-top: 5px;
  margin-bottom: 0;
}

.logo {
  width: 48px;
  height: 62px;
}



nav ul {
  margin-top: 5px;
}

nav ul li {
  display: inline-block;
  margin-right: 40px;
}

nav ul li:last-child{
  margin-right: 0;
}

/* Col shit */


#faqSection {
  text-align: left;
}

.question {
  border: 1px solid #d2d2d2;
  display: block;
  padding: 20px 60px 20px 30px;
}

 .question p {
   padding-left: 5px;
 }

#Testimonals {
  background-color: #F5F5F5;
  color: #C41A1A;
  box-shadow: 0 1px 4px rgba(0,0,0,.1);
  padding-top: 20px;
}

.stars {
  margin: auto;
  width: 160px;
  height: 33px;
  background-image: url("Icons/star.png");
}


#services p {
  margin-top: 10px;
}

#aboutMe .primary {
  padding-left: 45px;
  text-align: left;
  padding-top: 35px;
}

#aboutMe
{
  box-sizing: border-box;
  max-height: 800px;
}

#Testimonals h3 {
  margin-bottom: 20px;
}
.whiteSpace {
  width: 100%;
  height: 450px;
  background-image: url("fortniteBanner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.whiteSpace .textSeg {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.whiteSpace .textSeg h1  {
position: absolute;
left: 50%;
top: 57%;
margin-left: -300px;
color: #fff;
text-align: center;
}

.carbide, .omega{
  margin: auto;
  display: inline-block;
  text-align: center;
  vertical-align: top;

}

.omegaPic {
  height: 555px;
}

#packages
{

  margin-top: 0;
  height: 600px;

}

#packages .testBack
{
  position: absolute;
  width: 100%;
  height: 585px;
  background-image: url("fortnitelong.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 1;
}

#packages .testText
{
  position: absolute;
  width: 100%;
  height: 585px;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

#packages h1
{
  padding-top: 20px;
  color: #fff;
}

.carbide, .omega {
  border: none;
  border-radius: 2px;
  background-color: #fff;
  /* padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px; */
  /* box-shadow: 0px 3px 15px rgba(0,0,0,0.2); */


}

.omega .topSection
{
  background-color: #DF5141;
  color: #fff;
}

.carbide .topSection
{
  background-color: #4C91DA;
  color: #fff;
}
.carbide h2, .omega h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
  margin-top: 0;
}

.carbide .infoSection, .omega .infoSection {
 padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}

.divider {
  border-top: 1px solid #000;
  height: 1px;
  display: block;
}

.carbide {
  float: left;

}

.omega {
  float: left;
  margin-right: 150px;
}



.avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2)
}

.iconContainer
{
  width: 20%;
  height: 100%;
  display: inline-block;
  float: left;
}

.textContainer
{
  width: 80%;
  float: right;
  text-align: left;
  padding-left: 20px;
  padding-right: 35px;
}

.textContainer h3
{
 margin-top: 0;
}

.priceSection {
  font-weight: bold;
  padding-top: 15px;
  font-size: 23px;
}

.buttomSection {
  padding-bottom: 20px;
}

.buttomSection p {
  margin-top: 0;
}

.carbide .buttomSection a {
  border: none;
  color: #FFF;
  background-color: #4C91DA;
}

.omega .buttomSection a {
  border: none;
  color: #FFF;
  background-color: #DF5141;
}

.currencyTop {
  font-size: 0.7em;
  vertical-align: top;
  padding-right: 2px;
}

#Testimonals p
{
  padding-left: 40px;
  padding-right: 40px;
}

/*  FAQ SECTION */

#faqSection a:hover {
  cursor: pointer;
}

#faqSection a::after {
  content: url("Icons/Down.svg");
  width: 15px;
  height: 15px;
  float: right;
}

#faqSection .question p {
  display: none;
}

#faqSection div {
  margin-bottom: 60px;
}

#faqSection h2 {
  color: #C41A1A;
}

#faqSection .container940 {
  width: 80%;
  margin: auto;
}



/* Media Queries */

@media screen and (max-width:1200px) {

 #packages .col {
   float: none;
   margin: auto;
 }

 #packages .primary {
   width: 0;
 }

 #packages .secondary {
   width: 50%;
 }
 #packages {
   padding-bottom: 30px;

 }


#services .primary, #services .secondary, #services .tertiary, #services .quarterly {
  width: 50%;
  height: 230px;
}

#services .tertiary {
  float: right;
  padding-top: 20px;

}

#services .quarterly {
  float: right;
  padding-top: 20px;

}

 .omega {
   float: left;
   margin-right: 0;
 }

 .carbide {
   float: right;

 }

 .omegaPic {
   height: 75%;
   width: 75%;
   display: none;
 }

 #aboutMe .primary {
   width: 70%;
 }

 #aboutMe .secondary {
   width: 30%;
   overflow: hidden;
 }


}

@media screen and (max-width: 1000px) {

   #packages .col {
     float: none;
     margin: auto;
     width: 70%;
   }
   #packages {
     padding-bottom: 30px;

   }

   .omega {
     float: left;
     margin-right: 0;
   }

   .carbide {
     float: right;
   }

   .omegaPic {
     height: 75%;
     width: 75%;
     display: none;
   }

   #aboutMe .primary {
     width: 70%;
   }

   #aboutMe .secondary {
     width: 30%;
   }

  }

  @media screen and (max-width: 800px)
  {
    #Testimonals .col {
      width: 100%;
    }

    .poster {
      display: none;
    }

    #aboutMe .primary {
      width: 100%;
      padding-right: 30px;
    }

    #aboutMe {
      max-height: none;
    }
  }

  @media screen and (max-width: 700px)
  {
    #services .primary, #services .secondary, #services .tertiary, #services .quarterly {
      width: 100%;
      height: auto;
    }

    #services .primary {
      padding-bottom: 20px;
    }

    #aboutMe .primary
    {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 0;

    }

    .blurbIcon {
      height: auto;
    }

    .mainheader {
      position: inherit;
    }

    .main-text {
      padding-top: 60px;
      height: 300px;
    }

    .main-pic {
      height: 300px;
    }

    #services h2 {
      margin-top: 0px;
    }

    footer span {
      font-size: 0.7rem;
    }

    /*  FAQ */
    .whiteSpace {
       height: 300px;
    }


    .whiteSpace .textSeg h1  {
    left: 0;
    top: 27%;
    margin-left: 0;
    }


  }

  @media screen and (max-width: 620px) {

     #packages .col {
       float: none;
       margin: auto;
       width: 460px;
     }
     #packages {
       padding-bottom: 30px;

     }


     .omega {
       float: left;
       margin-right: 0;
       background-color: #fff;
     }

     .carbide {
       float: left;
       margin-left: 20px;
       background-color: #fff;
     }

     .omegaPic {
       height: 75%;
       width: 75%;
       display: none;
     }

       /*  FAQ Section */

       #faqSection .container940
       {
         width: 100%;
         padding-left: 10px;
         padding-right: 10px;
       }

    }



    @media screen and (max-width: 460px) {
      #packages .infoSection {
        padding-left: 3px;
        padding-right: 3px;
      }

      .carbide {
        margin-left: 5px;
      }

      .omega {
        padding-left: 5px;
      }

      #packages.infoSection {
        width: auto;
      }


      #packages li {
        padding-top: 1px;
      }
      .main-text {
        padding-top: 60px;
        height: 400px;
      }

      .main-pic {
        height: 400px;
      }
    }

    @media screen and (max-width: 400px)
    {
      .whiteSpace .textSeg h1  {
      top: 20%;
      }

    }
/*  PARALLAX*/
/*
.parallax {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.backLay {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  height: 100vh;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

.frontLay {
  display: block;
  position: relative;
  background-color: white;
  z-index: 1;
} */
/* .parallax backLay {
  position: relative;
} */

/* Clear fix */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*  Review OUT OF DATE CODE */
/*
.singlereview {
  width: 45%;
}

.singlereview h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.reviewer {
  padding-left: 20px
}

.singlereview p:first-child {
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  padding: 30px;
  background-color: #e5e5e5;
  max-width: 400px;


}
.avatar {
  width: 70px;
  height: 70px;
  float: left;
  background-image: url("polar-avatar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 4px solid #C41A1A;
  border-radius: 50%;
  margin-right: 8px;
  margin-top: -30px;
} */

button:focus {
  outline:0;
}


.pricesBG {
  display: flex;
  width: 100vw;
  background-image: url("fortnite.jpg");
  background-size: cover;
  min-height: 100vh;
  padding-top: 137px;
  flex-direction: column;
}

.prices {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  text-align: center;
  padding-top: 20px;
  background-color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 40px;


}

.prices span {
  font-family: "montserrat", "Arial", sans-serif;
  font-size: 18px;
}

.pricesBG footer {
  margin-top: auto;
  flex-shrink: 0;
}

.pricesBG h1{
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    color: #fff;
    opacity: 0;
}


.pricesSelection {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  margin-bottom: 25px;

}




.pricesCalculator {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.pricesExtras {
  flex-grow: 1;
  width: 200px;
}

.pricesSelection .selection {
  flex: 1 minmax(100px, 800px);

}

.pricesSelection button {
  color: #666;
  border: 1px solid #ebebeb;
  margin-bottom: 25px;

}





.pricesSelection button:last-child {
}

.pricesSelection button:hover {
  color: #fff;
  background-color: #C41A1A;
  cursor: pointer;
}


#buttonSelected {
  color: #fff;
  background-color: #C41A1A;
  position: relative;
}

#buttonSelected::after {
  top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(196, 26, 26, 0);
	border-top-color: #C41A1A;
	border-width: 10px;
	margin-left: -10px;
}


.winsSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 600px;
  flex-grow: 2;

}

.winsFlex {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-basis: 200px;


}


.flexbottom {
  margin-top: auto;
}

.flexCenter {
  margin: auto;

}
.addLeftRight {
  align-self: center;
  display: flex;
  justify-content:center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.typeIcon {
  height: 120px;
  width: 120px;
}

.rightArrow, .leftArrow {
  margin-top: auto;
  width: 20px;
  height: 20px;
  margin-bottom: auto;
  margin-left: 20px;
  margin-right: 20px;
}

.rightArrow:hover, .leftArrow:hover {
  cursor: pointer;
}

.rangeField {
  width: 80%;
  height: 40px;
}

#range {
  width: 100%;
}

.prices h2 {
  width: 100%;
  text-align: left;
  color: #C41A1A;
  font-weight: bold;
}

.prices h2 span {
  color: #000;
  font-size: 1em;
  display: inline;
}

.ExtraOptions {
  text-align: left;
}

.pricesExtras span {
  display: block;
  width: 100%;

}


.pricesPriceAndInfo {
  display: flex;
  width: 100%;
  text-align: left;
  flex-wrap: wrap;
}

.pricesPriceAndInfo h3 {
  font-size: 1.1rem;
  color: #555;
}

.pricesPriceAndInfo ul  {
  padding-left: 20px;
  list-style-type: square;
}
.pricesPriceAndInfo ul li  {
    color: #C41A1A;
}



.pricesPriceAndInfo ul li p {
  padding: 0;
  margin: 0;
  color: #666;
}

.pricesPriceAndInfo ul li p span {
  font: inherit;
  color: #C41A1A;
}

.actualPrice {
  flex-grow: 2;
  width: 600px;
}

.whatYouGet {
  flex-grow: 1;
  width: 200px;
  margin-bottom: 20px;
}

.priceBorderGroup {
  width: 100%;
  background-color: #C41A1A;
  border: 1px solid #C41A1A;
  color: #fff;
  border-radius: 3px;
  padding: 15px;
  padding-bottom: 5px;
}

.priceBorderGroup div {
    margin-bottom: 10px;
    display: flex;
    width: 100%;
}

.endFlex {
  margin-left: auto;
}

.priceDivider {
  height: 2px;
  background-color: #fff;
}

.purchase button {
  background-color: #fff;
  color: #C41A1A;
  font-weight: bold;
  margin-top: 5px;
}






.dicountCode input {
  background-color: #efefef;
  border: none;
  height: 32px;
  width: 160px;
  border-radius: 4px;
}

.discountButton {
  height: 32px;
  width: 65px;
  background-color: #C41A1A;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 16px;
}

.dicountFlex {
  display: flex;
  margin-top: 4px;
}

input[type="text"]
{
  font-family: inherit;
  color: #666;
  font-size: 16px;
  padding: 7px;
}


@media screen and (max-width:1510px) {
  .pricesExtras {
    width: 100%;
  }




}

@media screen and (min-width:1512px) {

  .pricesSelection button {
    margin-right: 20px;

  }


  .pricesSelection button:last-child {
    margin-right: 0;
  }

  .pricesSelection button {

    margin-bottom: 0;

  }



}

@media screen and (max-width:800px) {
  .winsFlex {
    padding-bottom: 50px;
  }

  .amountWins {
    margin-bottom: 90px;
  }

  .winsFlex:last-child {
    margin-bottom: none;
  }

}

@media screen and (min-width:1200px) {


  .prices {
    width: 65%;
  }


}











.extraSwitch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25.5px;
  margin-top: 4px;
  margin-bottom: 8px;
}

/* Hide default HTML checkbox */
.extraSwitch input {
  display:none;}

/* The slider */
.extraSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #efefef;
  -webkit-transition: .4s;
  transition: .4s;
}

.extraSlider:before {
  position: absolute;
  content: "";
  height: 19.5px;
  width: 19.5px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.extraSwitch input:checked + .extraSlider {
  background-color:  #C41A1A;
}

input:focus + .extraSlider{
  box-shadow: 0 0 1px  #C41A1A;
}

input:checked + .extraSlider:before {
  -webkit-transform: translateX(19.5px);
  -ms-transform: translateX(19.5px);
  transform: translateX(19.5px);
}

/* Rounded sliders */
.extraRound {
  border-radius: 34px;
}

.extraRound:before {
  border-radius: 50%;
}

.rangeAmountDisplay {
  font-size: 25px;
  width: 50px;
  height: 35px;
  background-color: #C41A1A;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}

input[type=range] {
  height: 34px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #DBDBDB;
  border-radius: 0px;
  border: 0px solid #8A8A8A;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #828282;
  border: 0px solid #8A8A8A;
  height: 28px;
  width: 18px;
  border-radius: 3px;
  background: #C41A1A;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #DBDBDB;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #DBDBDB;
  border-radius: 0px;
  border: 0px solid #8A8A8A;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #828282;
  border: 0px solid #8A8A8A;
  height: 28px;
  width: 18px;
  border-radius: 3px;
  background: #C41A1A;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #DBDBDB;
  border: 0px solid #8A8A8A;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #DBDBDB;
  border: 0px solid #8A8A8A;
  border-radius: 0px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 1px #828282;
  border: 0px solid #8A8A8A;
  height: 28px;
  width: 18px;
  border-radius: 3px;
  background: #C41A1A;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #DBDBDB;
}
input[type=range]:focus::-ms-fill-upper {
  background: #DBDBDB;
}
